@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="~/assets/css/layouts/rtl.css" rel="stylesheet" />
</head>

<body>
    <div class="auth-wrapper">

        <div class="auth-content subscribe">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-6 d-none d-md-flex d-lg-flex theme-bg align-items-center justify-content-center">
                        @*<img src="~/assets/images/user/user-2.png" alt="lock images" class="img-fluid">*@
                        <img src="~/assets/images/logo.svg" alt="lock images" class="img-fluid" style="max-width: 73% !important;">
                    </div>
                    <div class="col-md-8 col-lg-6">
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <div class="col-sm-10">
                                    <form id="account" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <h3 class="mb-4">تسجيل الدخول</h3>
                                        <div class="input-group mb-3">
                                            <input asp-for="Input.Email" type="text" value="" class="form-control" placeholder="اسم المستخدم">
                                        </div>
                                        <div class="input-group mb-4">
                                            <input asp-for="Input.Password" type="password" value="" class="form-control" placeholder="كلمة المرور">
                                        </div>
                                        <div class="form-group text-left">
                                            <div class="checkbox checkbox-fill d-inline">
                                                <input asp-for="Input.RememberMe" type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                                <label for="checkbox-fill-a1" class="cr"> تذكرني</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary shadow-2 mb-4">دخول</button>
                                        <p class="mb-0 text-muted">ليس لديك حساب؟ <a asp-page="./Register">تسجيل</a></p>
                                        <p class="mb-2 text-muted">نسيت كلمة المرور؟ <a id="forgot-password" asp-page="./ForgotPassword">استعادة</a></p>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Required Js -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
