@model ProjectManagment.Models.ReceiveBusiness
@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
    string projectid = this.ViewContext.RouteData.Values["id"]?.ToString();
    string modelName = " طلبات استلام الأعمال ";
    ViewData["Title"] = " انشاء / تعديل " + modelName;
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/@controller/Index" class="btn drp-icon btn-rounded btn-primary dropdown-toggle">
                                    <i class="feather icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h3 class="m-b-10">@ViewData["Title"]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">


                                <article class="card mb-4">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">اضافة أو تعديل  @modelName</h4>
                                    </div>
                                </article>

                                <form asp-controller="@controller" asp-action="Submit@(action)" method="post">

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">البيانات الاساسية</h4>
                                        </div>
                                        <div class="card-body">

                                            <input type="hidden" asp-for="ReceiveBusinessId" />

                                            <div class="row">



                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label asp-for="SerialNumber"></label>
                                                        <input asp-for="SerialNumber" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <label asp-for="ReviewNumber"></label>
                                                        <input asp-for="ReviewNumber" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ReviewNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessDate"></label>
                                                        <input type="text" id="ReceiveBusinessDate" name="ReceiveBusinessDate" value="@Model.ReceiveBusinessDate" class="datepicker form-control" data-val="true">
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessDate" class="text-danger"></span>
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="row">


                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="Project.Sector"></label>
                                                        <select asp-for="Project.Sector" class="select2 form-control" asp-items="ViewBag.Sector"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="Project.Sector" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="ProjectId"></label>
                                                        <select asp-for="ProjectId" class="select2 form-control" asp-items="ViewBag.ProjectCode"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessSchedualTempletId"></label>
                                                        <select asp-for="ReceiveBusinessSchedualTempletId" class="select2 form-control" asp-items="ViewBag.ReceiveBusinessSchedualTemplet"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessSchedualTempletId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <h4 class="mt-3">التخصص : </h4>

                                            <div class="row">


                                                <div class="col-12" style="display: flex;gap: 185px;">

                                                    <div class="form-group">

                                                        <label>مدني</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsCivil" class="form-control" type="checkbox" data-value="true" id="IsCivil">
                                                            <label for="IsCivil" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>معماري</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsArchitectural" class="form-control" type="checkbox" data-value="true" id="IsArchitectural">
                                                            <label for="IsArchitectural" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>ميكانيكا</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsMechanics" class="form-control" type="checkbox" data-value="true" id="IsMechanics">
                                                            <label for="IsMechanics" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>كهرباء</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsElectricity" class="form-control" type="checkbox" data-value="true" id="IsElectricity">
                                                            <label for="IsElectricity" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>زراعي</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsAgricultural" class="form-control" type="checkbox" data-value="true" id="IsAgricultural">
                                                            <label for="IsAgricultural" class="cr"></label>
                                                        </div>

                                                    </div>

                                                    <div class="form-group">

                                                        <label>أخرى</label>
                                                        <div class="switch d-inline m-r-10">
                                                            <input asp-for="IsOthers" class="form-control" type="checkbox" data-value="true" id="IsOthers">
                                                            <label for="IsOthers" class="cr"></label>
                                                        </div>

                                                    </div>
                                    
                                            </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="StatusId"></label>
                                                        <select asp-for="StatusId" class="select2 form-control" asp-items="ViewBag.Status" data-val-required="فضلا اختر الحالة"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="StatusId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                     

                                    </article>

                                    <article class="card mb-4">

                                        <div class="card-header">
                                            <h4 class="card-title mb-0">تفاصيل الأعمال</h4>
                                        </div>



                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="Buildings.Statement"></label>
                                                        <input asp-for="Buildings.Statement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="Buildings.Statement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="Buildings.Comments">ملاحظات المبنى</label>
                                                        <input asp-for="Buildings.Comments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="Buildings.Comments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="Floor.Statement">بيان الدور</label>
                                                        <input asp-for="Floor.Statement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="Floor.Statement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="Floor.Comments">ملاحضظات الدور</label>
                                                        <input asp-for="Floor.Comments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="Floor.Comments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="ApprovedPlates.Statement">بيان اللوحات المعتمدة</label>
                                                        <input asp-for="ApprovedPlates.Statement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ApprovedPlates.Statement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="ApprovedPlates.Comments">ملاحضظات اللوحات المعتمدة</label>
                                                        <input asp-for="ApprovedPlates.Comments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="ApprovedPlates.Comments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="RequiredExaminationDate.Statement">بيان تاريخ الفحص المطلوب</label>
                                                        <input asp-for="RequiredExaminationDate.Statement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="RequiredExaminationDate.Statement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="RequiredExaminationDate.Comments">ملاحظات تاريخ الفحص المطلوب</label>
                                                        <input asp-for="RequiredExaminationDate.Comments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="RequiredExaminationDate.Comments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="WorkToBeExamined.Statement">بيان العمل المطلوب فحصه</label>
                                                        <input asp-for="WorkToBeExamined.Statement" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="WorkToBeExamined.Statement" class="text-danger"></span>

                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">

                                                        <label asp-for="WorkToBeExamined.Comments">ملاحضظات العمل المطلوب فحصه</label>
                                                        <input asp-for="WorkToBeExamined.Comments" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true">
                                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                                        </span>
                                                        <span asp-validation-for="WorkToBeExamined.Comments" class="text-danger"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </article>

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <button type="submit" class="btn btn-primary">حفظ</button>
                                        </div>
                                    </article>

                                </form>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->
@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
