@model ProjectManagment.Models.ReceiveBusiness
@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
    string action = this.ViewContext.RouteData.Values["action"].ToString();
    string projectid = this.ViewContext.RouteData.Values["id"]?.ToString();
    string modelName = " طلبات استلام الأعمال ";
    ViewData["Title"] = " انشاء / تعديل " + modelName;
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/@controller/Index" class="btn drp-icon btn-rounded btn-primary dropdown-toggle">
                                    <i class="feather icon-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h3 class="m-b-10">@ViewData["Title"]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">


                                <article class="card mb-4">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">اضافة أو تعديل  @modelName</h4>
                                    </div>
                                </article>

                                <form asp-controller="@controller" asp-action="Submit@(action)" method="post">

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <h4 class="card-title mb-0">البيانات الاساسية</h4>
                                        </div>
                                        <div class="card-body">
                                            <input type="hidden" asp-for="ReceiveBusinessId" />
                                            <div class="row">

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label asp-for="ProjectId"></label>
                                                        <select asp-for="ProjectId" class="select2 form-control" asp-items="ViewBag.Projects" data-val-required="فضلا اختر المشروع"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ProjectId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessSchedualTempletId"></label>
                                                        <select asp-for="ReceiveBusinessSchedualTempletId" class="select2 form-control" asp-items="ViewBag.ReceiveBusinessSchedualTemplet" data-val-required="فضلا اختر نموذج الطلب"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessSchedualTempletId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="ReceiveBusinessDate"></label>
                                                        <input type="text" id="ReceiveBusinessDate" name="ReceiveBusinessDate" value="@Model.ReceiveBusinessDate" class="datepicker form-control" data-val="true" data-val-required="تاريخ الطلب">
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="ReceiveBusinessDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="Specialization"></label>
                                                        <select asp-for="Specialization" class="select2 form-control" asp-items="ViewBag.Specialization" data-val-required="فضلا اختر التخصص"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="Specialization" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label asp-for="StatusId"></label>
                                                        <select asp-for="StatusId" class="select2 form-control" asp-items="ViewBag.Status" data-val-required="فضلا اختر الحالة"></select>
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                        <span asp-validation-for="StatusId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </article>

                                    <article class="card mb-4">
                                        <div class="card-header">
                                            <button type="submit" class="btn btn-primary">حفظ</button>
                                        </div>
                                    </article>

                                </form>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->
@section Styles{

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
